/* ================================================== */
/* GENERAL CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Epilogue", sans-serif;
  font-style: normal;
  color: #ffffff;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.center {
  margin: 0 auto;
  max-width: 144rem;
  padding: 3rem 5rem;
}

.btn {
  cursor: pointer;
}

/* H1 */
.h1-header {
  font-weight: 800;
  font-size: 7.2rem;
  line-height: 8rem;
  letter-spacing: -2px;
  color: #ffffff;
}
/* H2 */
.h2-header {
  font-weight: 800;
  font-size: 5.6rem;
  line-height: 6.4rem;
  letter-spacing: -1px;
  color: #391400;
}
/* H3 */
.h3-header {
  font-weight: 800;
  font-size: 4rem;
  line-height: 4.8rem;
  color: #391400;
}
/* H4 */
.h4-header {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.2rem;
  color: #391400;
}
/* H5 */
.h5-header {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 3.2rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #ef6d58;
}

/* ================================================== */
/* MAIN CSS */
.header-container {
  background-color: #28293e;
}

.header {
  /* height: 100vh; */
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__links {
  display: flex;
  justify-content: space-between;
  max-width: 51.5rem;
  width: 100%;
}

.nav__link {
  color: inherit;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 3.2rem;
}

.nav__btn {
  width: 138px;
  height: 48px;
  border: 1px solid rgba(255, 255, 255, 0.295743);
  border-radius: 6px;
  font-size: 1.4rem;
  line-height: 1.4rem;
  text-align: center;
  color: inherit;
  font-weight: 900;
  background-color: #28293e;
}

/* Hero Section */
.hero {
  display: flex;
  justify-content: space-between;
  gap: 10rem;
  width: 100%;

  margin-top: 10rem;
}

.hero__title {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.5rem;
}

.hero__desc {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 3.2rem;
  color: rgba(255, 255, 255, 0.64);
}

.hero__btn--container {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.hero__btn-text {
  color: inherit;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 3.2rem;
}

.hero__btn {
  width: 154px;
  height: 48px;

  font-weight: 900;
  font-size: 1.4rem;
  line-height: 1.4rem;
  text-align: center;
  text-transform: uppercase;

  color: inherit;
  background: #ef6d58;
  border: none;
  border-radius: 6px;
}

.hero__author--container {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.hero__author-desc {
  color: rgba(255, 255, 255, 0.64);
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 3.2rem;
}

.hero__author-company {
  color: inherit;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 3.2rem;
}

.hero__img-container {
  flex: 1;
  overflow: hidden;
}

.hero__img {
  width: 100%;
}
