/* ================================================== */
/* GENERAL CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Epilogue", sans-serif;
  font-style: normal;
  color: #ffffff;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.center {
  margin: 0 auto;
  max-width: 144rem;
  padding: 3rem 5rem;
}

.dark-back-wrapper {
  background-color: #28293e;
}
.light-back-wrapper {
  background-color: #fdf0e9;
}

.btn {
  cursor: pointer;
  height: 48px;
  border-radius: 6px;
  text-align: center;
  color: inherit;
  text-transform: uppercase;
  border: none;
  font-weight: 900;
  font-size: 1.4rem;
  line-height: 1.4rem;
}

.btn-small {
  width: 138px;
}
.btn-medium {
  width: 154px;
}
.btn-big {
  width: 170px;
}
.btn-white {
  background-color: #ffffff;
  box-shadow: 0px 3px 9px rgba(57, 20, 0, 0.08);
  color: #391400;
}
.btn-transparent {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.295743);
}
.btn-orange {
  background: #ef6d58;
}

/* H1 */
.h1-header {
  font-weight: 800;
  font-size: 7.2rem;
  line-height: 8rem;
  letter-spacing: -2px;
  color: #ffffff;
}
/* H2 */
.h2-header {
  font-weight: 800;
  font-size: 5.6rem;
  line-height: 6.4rem;
  letter-spacing: -1px;
  color: #391400;
}
/* H3 */
.h3-header {
  font-weight: 800;
  font-size: 4rem;
  line-height: 4.8rem;
  color: #391400;
}
/* H4 */
.h4-header {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.2rem;
  color: #391400;
}
/* H5 */
.h5-header {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 3.2rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #ef6d58;
}

/* ================================================== */
/* MAIN CSS */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__links {
  display: flex;
  justify-content: space-between;
  max-width: 51.5rem;
  width: 100%;
}

.nav__link {
  color: inherit;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 3.2rem;
}

/* Hero Section */

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10rem;
  margin-top: 2rem;
}

.hero__title-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.5rem;
}

.hero__desc {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 3.2rem;
  color: rgba(255, 255, 255, 0.64);
}

.hero__btn-wrapper {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.hero__btn-desc {
  color: inherit;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 3.2rem;
}

.hero__author-wrapper {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.hero__author__desc {
  color: rgba(255, 255, 255, 0.64);
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 3.2rem;
}

.hero__author__company {
  color: inherit;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 3.2rem;
}

.hero__img-wrapper {
  overflow: hidden;
}

.hero__img {
  width: 100%;
}

/* Partners */
.partners {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

/* About Section */
.about {
  border-top: 1px solid #f3d1bf;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 10rem;
  row-gap: 15rem;
  padding-top: 10rem;
}

.about__img {
  width: 100%;
}

.about__title-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.5rem;
}

.about__desc-name {
  color: #391400;
  font-weight: 400;
  font-size: 2rem;
  line-height: 3.2rem;
}

.about__desc {
  color: rgba(57, 20, 0, 0.64);
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 3.2rem;
}

.about__stats-wrapper {
  grid-column: 1 / span 2;
}

.about__stats {
  display: flex;
  height: 176px;
}

.about__stat {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  border: 1px solid #f3d1bf;
  padding-left: 4rem;
  color: #391400;
}

.about__stat__num {
  font-weight: 800;
  font-size: 4rem;
  line-height: 4.8rem;
}
.about__stat__txt {
  font-weight: 400;
  font-size: 2rem;
  line-height: 3.2rem;
}

/* How we work */
.work {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10rem;
  margin-top: 10rem;
}

.work__title-wrapper {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.work__desc {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 3.2rem;
  color: rgba(57, 20, 0, 0.64);
}

.work__more {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 3.2rem;
  color: #391400;
}

.work__principles-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 4rem;
}

.work__principles {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.work__principle {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5rem;
}

.work__principle__num {
  width: 4rem;
  font-weight: 800;
  font-size: 7.2rem;
  line-height: 8rem;
  letter-spacing: -2px;
  color: #391400;
}

.work__principle__txt {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.2rem;
  color: #391400;
}
